.my-tests-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6rem 2rem 2rem 2rem; /* Add top padding to move content down */
}

.my-tests-container h1 {
  margin-bottom: 1rem;
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
  text-align: center; /* Center the h1 element */
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-container button {
  color: white;
  background-color: #27ac1f;
  border: #27ac1f;
}


.button-container1 button {
  color: white;
  background-color: #27ac1f;
  border: #27ac1f;
}

.my-tests-container .mb-3 {
  margin-bottom: 1rem;
}

.my-tests-container .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Change cursor on hover */
  margin-bottom: 0.5rem; /* Add spacing between items */
  border-radius: 0.25rem; /* Match button theme */
  transition: background-color 0.3s ease; /* Smooth appearance */
}

.my-tests-container .list-group-item:hover {
  background-color: #f8f9fa; /* Light grey background on hover */
}

.my-tests-container .test-item {
  padding: 0.75rem 1.25rem;
}

.divider {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  text-align: center;
  color: #ccc;
}

.popover-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover-header .close {
  border: none;
  background: none;
  font-size: 1.25rem;
}
